﻿@model PagedList.PagedList<WebBanHangOnline.Models.EF.Wishlist>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<title>Quan tâm</title>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
    /* Ẩn modal ban đầu */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Hiển thị modal khi hover vào đối tượng */
    #hoverTarget:hover + .modal {
        display: block;
    }

    #abcde1 {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        background-image: linear-gradient(to right, #f64f59, #c471ed, #a5dde4);
        background-repeat: no-repeat;
        background-position: 200px -200px;
        transition: background-position 0.3s ease-in-out;
    }

        #abcde1:hover {
            color: white;
            background-position: 0 0;
        }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-news"> Sản phẩm quan tâm</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var strImage = "";
            var img = item.Product.ProductImage.FirstOrDefault(a => a.IsDefault);
            if (img != null)
            {
                strImage = img.Image;
            }
            <div class="row row-item-new" id="abcde1" style="display: flex; align-items: center;">
                <div class="col-md-4">
                    <div class="img-box">
                        <a title="@item.Product.Title"><img id="hoverTarget" src="@strImage" style="min-width: 350px; max-height: 150px;" class="img-thumbnail" alt="@item.Product.Title" /></a>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="content-box">
                        <h3><a href="/chi-tiet/@item.Product.Alias-p@(item.Product.Id)" title="@item.Product.Title" class="text-dark"> @item.Product.Title </a></h3>
                        <table class="table table-borderless text-center">
                            <tr>
                                <div style="height:2px; background-color: lightgreen"></div>
                                <th>  @item.Product.Fuel</th>
                                <th>  @item.Product.NumberOfSeats chỗ</th>
                                <th>  @item.Product.Design</th>
                                <th>     @item.Product.Origin</th>
                                <th>@WebBanHangOnline.Common.Common.FormatNumber(item.Product.PriceSale, 0) VND</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>
                        <a href="#" data-id="@item.Id" class="text-success btnAddToCart" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        <a href="/san-pham" class="text-primary" title="Xem thêm"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

                        <a href="#" data-id="@item.Id" class="text-danger text-lg " title="Xóa" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </h4>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }
    else
    {
        <div class="content-box">Chưa có sản phẩm nào đang quan tâm</div>
    }
</div>


@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/assets/js/single_custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/assets/js/categories_end.js"></script>


    <script>
        // Lấy modal
        var modal = document.getElementById("myModal");

        // Lấy nút đóng
        var closeButton = document.getElementsByClassName("close")[0];

        // Khi người dùng nhấn vào nút đóng, đóng modal
        closeButton.onclick = function () {
            modal.style.display = "none";
        }
        // Khi người dùng nhấn vào bất kỳ đâu ngoài modal, đóng modal
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        $(document).ready(function () {
            $('body').on('click', '#btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm("Bạn có muốn xe này không?");
                if (conf === true) {
                    var elementToDelete = $(this).closest('.row-item-new'); // Tìm phần tử gần nhất chứa sản phẩm cần xóa
                    // Áp dụng hiệu ứng lướt sang phải trước khi xóa
                    elementToDelete.hide("slide", { direction: "right" }, 800, function () {
                        $(this).remove();
                    });

                    $.ajax({
                        url: '/Wishlist/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            debugger;
                            if (rs.success) {
                                //elementToDelete.remove();
                                /*alert("Xóa thành công");*/
                            }
                        }
                    });
                }
            });
        });
    </script>
}