@model WebBanHangOnline.Models.CreateAccountViewModel

@{
    ViewBag.Title = "Thêm mới tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home/" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account" class="nav-link">Tài khoản</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="" class="nav-link active">Thêm mới tải khoản</a>
        </li>
    </ul>

}

<div style="height:2px; background-color: darkslategrey"></div>
<br />
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới tài khoản</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "account", FormMethod.Post))
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tài khoản</label>
                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Họ tên</label>
                            @Html.TextBoxFor(a => a.FullName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SĐT</label>
                            @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Role</label>
                            @Html.DropDownListFor(a => a.Role, ViewBag.Role as SelectList, "Chọn quyền", new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Mật khẩu</label>
                            <div class="input-group mb-3">
                                @Html.PasswordFor(a => a.Password, new { @class = "form-control", @id = "password", @placeholder = "Mật khẩu" })

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Xác nhận mật khẩu</label>
                            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-outline-danger rounded-pill" href="/admin/account/" style="width:100%"><i class="fa fa-fast-backward" aria-hidden="true"> Quay lại</i></a>
                            </div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-success rounded-pill" style="width:100%"> Lưu <i class="fa fa-check-square" aria-hidden="true"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
}
<style>
    .btnnut:hover {
        transform: scale(1.5); /* Phóng to 1.5 lần */
    }
</style>

<script>
    const toggleBtn = document.getElementById('toggleBtn');
    const toggleIcon = document.getElementById('toggleIcon');
    const passwordInput = document.getElementById('password');

    toggleBtn.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');
        }
    });

</script>



