@model IEnumerable<WebBanHangOnline.Models.EF.Order>

<style>
    .DonDaDat tbody tr:nth-of-type(odd) {
        background-color: aliceblue;
    }
</style>

@if (Model != null)
{
    var i = 1;
    <h4 class="text-center">Lịch sử đặt hàng</h4> <hr />
    <table class="DonDaDat table table-bordered text-center">
        <thead>
            <tr >
                <th>STT</th>
                <th>Mã đơn hàng</th>
                <th>Địa chỉ</th>
                <th>Thời gian</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Code</td>
                        <td>@item.Address <b>( @(item.AddressType))</b></td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                i++;
            }
        </tbody>
    </table>
}