@model IEnumerable<WebBanHangOnline.Models.EF.OrderDetail>


<style>
    .DonDaDat tbody tr:nth-of-type(odd) {
        background-color: aliceblue;
    }
</style>

@if (Model != null & Model.Any())
{
    int i = 1;
    <table class="DonDaDat table table-bordered">
        <thead>
            <tr style="text-align: center">
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá tiền</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price , 0)</td>
                    <td>@item.Quantity </td>
                    <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price * item.Quantity, 0)</td>
                </tr>
                i++;
            }
        </tbody>

    </table>


}