@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>


<table class="table">
    <tr style="text-align: center">
        <th>STT</th>
        <th>Ảnh xe</th>
        <th>Tên xe</th>
        <th>Hãng xe</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 1;
        var tongtien = decimal.Zero;
        var sl = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            sl += item.Quantity;
            <tr style="text-align: center" id="trow_@item.ProductId">
                <td>@(i)</td>
                <td>
                    <a style="color: black" href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        <img src="@item.ProductImg" class="img-thumbnail" style="max-height: 80px; max-width: 50px" />
                    </a>
                </td>
                <td> <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">@item.ProductName</a> </td>
                <td>@item.CategoryName</td>
                <td style="min-width: 140px">&#873; @WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)  </td>
                <td>
                    <input class="text-center" style="max-width: 50px;" type="number" value="@item.Quantity" id="Quantity_@item.ProductId" />
                </td>
                <th> &#873; @WebBanHangOnline.Common.Common.FormatNumber(item.TotalPrice, 0) </th>
                <td style="min-width: 140px">
                    <a href="" data-id="@item.ProductId" class="btn btn-sm btn-outline-danger btnDelete">  <i class="fa fa-trash-o" aria-hidden="true"></i> </a>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-primary btnUpdate">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </a>
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="4"></th>
            <th style="text-align: right">Tổng &#187;&#187;&#187;</th>
            <th style="text-align: center"> @WebBanHangOnline.Common.Common.FormatNumber(sl, 0)</th>
            <th style="text-align: center"> &#873; @WebBanHangOnline.Common.Common.FormatNumber(tongtien, 0) </th>
        </tr>
    }

    else
    {

        <div class="text-center">
            <div>
                <img style="width: 100px; height: 100px;" src="~/Content/assets/images/ko có gì trong giỏ hàng.png" />
            </div>
            <h5>Giỏ hàng của bạn còn trống</h5>
            <a href="/san-pham" class="btn btn-lg btn-info text-light">
                <span class="spinner-grow spinner-grow-sm"></span>  MUA NGAY
                <span class="spinner-grow spinner-grow-sm"></span>

            </a>
        </div>
        <br />
    }
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            ShowCount();
            $('body').on('click', '.btnAddToCart', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var quatity = 1;
                var tQuantity = $('#quantity_value').text();
                if (tQuantity != '') {
                    quatity = parseInt(tQuantity);
                }

                //alert(id + " " + quatity);
                $.ajax({
                    url: '/shoppingcart/addtocart',
                    type: 'POST',
                    data: { id: id, quantity: quatity },
                    success: function (rs) {
                        if (rs.Success) {
                            $('#checkout_items').html(rs.Count);
                            alert(rs.msg);
                        }
                    }
                });
            });
            $('body').on('click', '.btnUpdate', function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var quantity = $('#Quantity_' + id).val();
                Update(id, quantity);

            });
            $('body').on('click', '.btnDeleteAll', function (e) {
                e.preventDefault();
                var conf = confirm('Bạn muốn xóa hết sản phẩm trong giỏ hàng?');
                //debugger;
                if (conf == true) {
                    DeleteAll();
                }
            });

            $('body').on('click', '.btnDelete', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var conf = confirm('Bạn muốn xóa sản phẩm này khỏi giỏ hàng?');
                if (conf == true) {
                    $.ajax({
                        url: '/shoppingcart/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.Success) {
                                $('#checkout_items').html(rs.Count);
                                $('#trow_' + id).remove();
                                LoadCart();
                            }
                        }
                    });
                }

            });
        });



        function ShowCount() {
            $.ajax({
                url: '/shoppingcart/ShowCount',
                type: 'GET',
                success: function (rs) {
                    $('#checkout_items').html(rs.Count);
                }
            });
        }
        function DeleteAll() {
            $.ajax({
                url: '/shoppingcart/DeleteAll',
                type: 'POST',
                success: function (rs) {
                    if (rs.Success) {
                        LoadCart();
                    }
                }
            });
        }
        function Update(id, quantity) {
            $.ajax({
                url: '/shoppingcart/Update',
                type: 'POST',
                data: { id: id, quantity: quantity },
                success: function (rs) {
                    if (rs.Success) {
                        LoadCart();
                    }
                }
            });
        }

        function LoadCart() {
            $.ajax({
                url: '/shoppingcart/Partial_Item_Cart',
                type: 'GET',
                success: function (rs) {
                    $('#load_data').html(rs);
                }
            });
        }

    </script>

}



