@model WebBanHangOnline.Models.OrderViewModel

@{
    if (ViewBag.User != null)
    {
        var user = (WebBanHangOnline.Models.ApplicationUser)ViewBag.User;
    }
}

<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_responsive.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/abcde.css">


@using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_data",
        OnComplete = "OnSucessCO",
        OnFailure = "OnFailure",
        OnBegin = "OnBeginCO"
    }, new { @Id = "myForm" }))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.AntiForgeryToken()
                <h4>Thông tin khách hàng</h4>
                @if (!Request.IsAuthenticated)
                {
                    <div class="form-group">
                        <input placeholder="Họ tên khách hàng" type="text" name="CustomerName" required class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Số điện thoại" type="text" name="Phone" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Email" type="email" name="Email" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Địa chỉ" type="text" name="Address" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Loại địa chỉ:</label>
                        <br />
                        <select name="AddressType" class="form-control">
                            <option value="Nhà riêng" selected>Nhà riêng</option>
                            <option value="Văn phòng">Văn phòng</option>
                        </select>
                    </div>
                }
                else
                {
                    var user = (WebBanHangOnline.Models.ApplicationUser)ViewBag.User;
                    <div class="form-group">
                        <input placeholder="Họ tên khách hàng" value="@user.FullName" type="text" name="CustomerName" required class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Số điện thoại" value="@user.Phone" type="text" name="Phone" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Email" value="@user.Email" type="email" name="Email" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Địa chỉ" type="text" name="Address" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Loại địa chỉ:</label>
                        <br />
                        <select name="AddressType" class="form-control">
                            <option value="Nhà riêng" selected>Nhà riêng</option>
                            <option value="Văn phòng">Văn phòng</option>
                        </select>
                    </div>
                }

            </div>

            <div class="col-md-8">
                <h4>Sản phẩm</h4>
                @Html.Action("Partial_Item_Thanhtoan", "ShoppingCart")
            </div>
        </div>
        <hr />
        <div class="row">
            <table>
                <tr>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lời nhắn:</label>
                            <input placeholder="Lưu ý cho đại lý..." name="MessegesForBuyer" type="text" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>
                                Hình thức nhận:
                            </label>
                            <select name="ShippingUnit" class="form-control">
                                <option value="Tại đại lý" selected>Tại đại lý</option>
                                <option value="Tại địa chỉ của khách">Tại địa chỉ của khách</option>
                            </select>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> Chọn ưu đãi từ đại lý: </label>
                            <input placeholder="Mã ưu đãi" name="Voucher" type="text" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label></label>
                            <input type="button" style="color: white;" value="Áp dụng" class="form-control rounded-pill btn btn-primary" />
                        </div>
                    </div>
                </tr>
            </table>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Phương thức thanh toán:</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select name="TypePayment" class="form-control">
                        <option value="Trả góp" selected> Trả góp</option>
                        <option value="Trả thẳng"> Trả thẳng</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group" id="load_send">  </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="btn btn-danger" style="min-width: 100%" type="submit" id="abcdefg abcdefg"  value="Đặt hàng" />
                </div>
            </div>
        </div>

    }

    <script >
    function OnBeginCO() {
        $('#abcdefg').attr("disabled", "disabled");
        $('#load_send').html('đang thực hiện .. . .');
    }

    function OnSuccessCO(res) {
        if (res.Success)

    {
        if (res.Code == 1)

    {
        location .href = "/ShoppingCart/CheckOutSuccess";
    }

    else {
        location .href = res.Url;
    }

    }
    }

    </script >
