@model IEnumerable<WebBanHangOnline.Models.EF.Category>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .abcde {
        background-image: linear-gradient(to right, #f2709c, #ff9472);
        background-repeat: no-repeat;
        background-position: -100px 200px;
        transition: background-position 0.5s ease-in;
    }

        .abcde:hover {
            background-position: 0 0;
        }
</style>

@section naviheader{

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link active">Danh mục</a>
        </li>
    </ul>

}

<div style="height:2px; background-color: darkslategrey"></div> <br />
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách danh mục</h3>

            <div class="card-tools">
                <a href="/admin/category/add" class="btn btn-success">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr style="text-align: center">
                        <th>STT</th>
                        <th>Tên Danh mục</th>
                        <th>Mô tả</th>
                        <th>Seo Title</th>
                        <th>Thứ tự</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr class="abcde" id="trow_@item.Id" style="text-align: center">
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.Alias</td>
                                <td>@item.SeoTitle</td>
                                <td>@item.Position</td>
                                <td>
                                    <a href="/admin/category/edit/@item.Id" class="text-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" data-id="@item.Id" class="text-danger btnDelete">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Ko có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
            $(document).ready(function () {
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");
                    var conf = confirm("Bạn có muốn xóa Danh mục này không?");
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/category/delete',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                }
                            }
                        });
                    }
                });
            });
    </script>
}
