@model WebBanHangOnline.Models.EF.Product
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader
{

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link"><i style="font-size: 20px; font-weight:bold; color:darkblue" class="fa fa-house-damage" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/products" class="nav-link">Xe</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link active">Thêm mới</a>
        </li>
    </ul>
}

<div style="height:2px; background-color: darkslategrey"></div>
<br />

<!-- Main content -->
<section class="content">
    <div class="card-body">
        @using (Html.BeginForm("Add", "products", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="card" >
                <div class="card-header bg-dark">
                    <div class="row">
                        <div class="col-md-3">
                            Thông tin thêm mới xe   
                        </div>
                        <div class="col-md-9">
                            <ul class="nav nav-pills ">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="exampleInputEmail1">Hãng xe</label>
                                    @Html.DropDownListFor(a => a.ProductCategoryId, ViewBag.ProductCategory as SelectList, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.ProductCategoryId, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Tên xe</label>
                                    @Html.TextBoxFor(a => a.Title, new { @class = "form-control", @placeholder = "Tên xe" })
                                    @Html.ValidationMessageFor(a => a.Title, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="exampleInputEmail1">SKU</label>
                                    @Html.TextBoxFor(a => a.ProductCode, new { @class = "form-control", @placeholder = "Mã xe" })
                                    @Html.ValidationMessageFor(a => a.ProductCode, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            

                            

                            <div class="form-group">
                                <label for="exampleInputEmail1">Mô tả sơ bộ</label>
                                @Html.TextBoxFor(a => a.Description, new { @class = "form-control", @placeholder = "Mô tả sơ bộ" })
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Chi tiết xe</label>
                                @Html.TextBoxFor(a => a.Detail, new { @class = "form-control", @id = "txtDetail", @placeholder = "Chi tiết" })
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số lượng</label>
                                        @Html.TextBoxFor(a => a.Quantity, new { @class = "form-control", @Value = "1" })
                                        @Html.ValidationMessageFor(a => a.Quantity, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Giá gốc</label>
                                        <input type="text" name="demoOriginalPrice" value="0" id="demoOriginalPrice" class="form-control auto" data-a-sign="VND " data-a-dec="," data-a-sep="." />
                                        @Html.HiddenFor(a => a.OriginalPrice, new { @class = "", @placeholder = "Giá" })
                                        @Html.ValidationMessageFor(a => a.OriginalPrice, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Giá</label>
                                        <input type="text" name="demoPrice" value="0" id="demoPrice" class="form-control auto" data-a-sign="VND " data-a-dec="," data-a-sep="." />
                                        @Html.HiddenFor(a => a.Price, new { @class = "", @placeholder = "Giá" })
                                        @Html.ValidationMessageFor(a => a.Price, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Khuyến mại</label>
                                        <input type="text" name="demoPriceSale" value="0" id="demoPriceSale" class="form-control auto" data-a-sign="VND " data-a-dec="," data-a-sep="." />
                                        @Html.HiddenFor(a => a.PriceSale, new { @class = "", @placeholder = "" })
                                        @Html.ValidationMessageFor(a => a.Price, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(a => a.IsActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                            <label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(a => a.IsHot, new { @class = "custom-control-input", @id = "IsHotCheckbox2" })
                                            <label for="IsHotCheckbox2" class="custom-control-label">Hot</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(a => a.IsFeature, new { @class = "custom-control-input", @id = "IsFeatureCheckbox2" })
                                            <label for="IsFeatureCheckbox2" class="custom-control-label">Nổi bật</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(a => a.IsSale, new { @class = "custom-control-input", @id = "IsSaleCheckbox2" })
                                            <label for="IsSaleCheckbox2" class="custom-control-label">Khuyến mãi</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*/.tab-pane*@
                        <div class="tab-pane" id="timeline">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-hover" id="tbAnhSanPham">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th class="text-center">Ảnh</th>
                                                <th class="text-center">Ảnh đại diện</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbHtml">
                                        </tbody>
                                    </table>
                                    <input type="hidden" id="tCurrentId" value="0" />
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">SEO Title</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(a => a.SeoTitle, new { @class = "form-control", @placeholder = "SeoTitle" })
                                        @Html.ValidationMessageFor(a => a.SeoTitle, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">SeoKeywords</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(a => a.SeoKeywords, new { @class = "form-control", @placeholder = "SeoKeywords" })
                                        @Html.ValidationMessageFor(a => a.SeoKeywords, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">SeoDescription</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(a => a.SeoDescription, new { @class = "form-control", @placeholder = "SeoDescription" })
                                        @Html.ValidationMessageFor(a => a.SeoDescription, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Số chỗ ngồi</label>
                                        <div>
                                            <select name="NumberOfSeats" class="form-control">
                                                <option value="2" selected>2</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Kiểu dáng</label>
                                        <div>
                                            <select name="Design" class="form-control">
                                                <option value="Sedan" selected>Sedan</option>
                                                <option value="SUV">SUV</option>
                                                <option value="HATCHBACK">HATCHBACK</option>
                                                <option value="ĐA DỤNG">ĐA DỤNG</option>
                                                <option value="BÁN TẢI">BÁN TẢI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Nhiên liệu</label>
                                        <div class="row">
                                            <div class="col-md-4 " style="padding-top: 5px">
                                                <input type="checkbox" name="Fuel" value="Xăng" /> Xăng
                                            </div>
                                            <div class="col-md-6 " style="padding-top: 5px">
                                                <input type="checkbox" name="Fuel" value="Dầu" /> Dầu
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label>Xuất xứ</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(a => a.Origin, new { @class = "form-control", @placeholder = "Xuất xứ" })
                                            @Html.ValidationMessageFor(a => a.Origin, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-outline-danger rounded-pill" href="/admin/products/" style="width:100%"><i class="fa fa-fast-backward" aria-hidden="true"> Quay lại</i></a>
                            </div>
                            <div class="col-md-8">
                                <button type="submit" name="btnSave" id="btnSave" class="btn btn-success rounded-pill" style="width:100%"> Lưu <i class="fa fa-check-square" aria-hidden="true"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });

            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });

            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xóa ảnh không');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });

        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                //document.getElementById(field).value = fileUrl;
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                                  <td class="text-center" > ${currentId}</td >
                                  <td class="text-center" > <img style="width: 80px" src="${url}" /> <input type='hidden' value="${url}" name="Images"/> </td >
                                  <td class="text-center"> <input type="radio" name="rDefault" value="${currentId}" checked="checked" name="rDefault" /></td>
                                  <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                                  </tr > `;
            }
            else {
                str += `<tr id="trow_${currentId}">
                                  <td class="text-center" > ${currentId}</td >
                                  <td class="text-center" > <img style="width: 80px" src="${url}" /> <input type='hidden' value="${url}" name="Images"/> </td >
                                  <td class="text-center"> <input type="radio" name="rDefault" value="${currentId}" name="rDefault" /></td>
                                  <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                                  </tr >`;
            }
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
        }
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

