@model PagedList.PagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link active">Xe</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<div style="height:2px; background-color: darkgreen;"></div>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <h3 class="card-title">Danh sách xe </h3>
                </div>
                <div class="col-md-4">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group input-group-sm">
                            <input name="searchString" class="form-control" placeholder="Tìm theo tên xe " aria-label="Search" /> 
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    }
                </div>
                <div class="col-md-3">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group input-group-sm">
                            @Html.DropDownList("searchStringCategory", ViewBag.ProductCategory as SelectList, "Tìm theo hãng xe", new { @class = "form-control" })
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    }
                </div>
                <div class="col-md-3 text-right">
                    <div class="card-tools">
                        <a href="/admin/products/add" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-danger" id="BtnDeleteAll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover text-center">
                <thead>
                    <tr class="bg-purple">
                        <th class="bg-purple"><input type="checkbox" id="SelectAll" /></th>
                        <th class="bg-purple">STT</th>
                        <th class="bg-purple">Hình ảnh</th>
                        <th class="bg-purple">Tên sản phẩm</th>
                        <th class="bg-purple">Hãng xe</th>
                        <th class="bg-purple">Tồn</th>
                        <th class="bg-purple">Giá</th>
                        <th class="bg-purple">Ngày nhập</th>
                        <th class="bg-purple">Home</th>
                        <th class="bg-purple">Hiển thị</th>
                        <th class="bg-success">Nhập thêm</th>
                        <th class="bg-primary">Điều chỉnh</th>
                        <th class="bg-danger">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strImg = "";
                            var CheckImage = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                            if (CheckImage != null)
                            {
                                strImg = CheckImage.Image;
                            }
                            <tr id="trow_@item.Id">
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                <td>@i</td>
                                <td><img class="imgproduct" data-id="@item.Id" src="@strImg" width="50" /></td>
                                <td>@item.Title</td>
                                <td>@item.ProductCategory.Title</td>

                                @if (item.SoHangTon == 0)
                                {
                                    <td style="background-color: #00ff90; color:red"> <i class="fa fa-check" aria-hidden="true"></i> </td>
                                }
                                @if (item.SoHangTon <= 5 && item.SoHangTon > 0)
                                {
                                    <td style="background-color: #00ff90"> @item.SoHangTon</td>
                                }
                                @if (item.SoHangTon < 10 && item.SoHangTon > 5)
                                {
                                    <td style="background-color: #ffd800"> @item.SoHangTon</td>
                                }
                                @if (item.SoHangTon > 15)
                                {
                                    <td style="background-color: #ff0000"> @item.SoHangTon</td>
                                }
                                @if (item.SoHangTon <= 15 && item.SoHangTon >= 10)
                                {
                                    <td style="background-color: #e94848"> @item.SoHangTon</td>
                                }
                                <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.Id" class="btnHome">@Html.Raw(strCheckHome)</a>
                                </td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>
                                </td>
                                <td>
                                    <a href="/admin/products/nhapthem/@item.Id" class=" text-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    
                                </td>
                                <td>
                                    <a href="/admin/products/edit/@item.Id" class=" text-primary"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="text-danger btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có kết quả</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @if (Model != null)
            {
                var tttt = 0;
                foreach (var item in Model)
                {
                    tttt += item.SoHangTon;
                }
                <div class="row b-center">
                    <div class="col-md-6 ">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                    <div class="col-md-2 text-center">
                        <div style="background-color: #00ff90; min-height: 50px; padding-top: 10px">Tổng hàng tồn: @tttt</div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            //hiển thị form upload ảnh
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/ProductImage/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các bản ghi này hay không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/news/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/Products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsHome) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });

            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsSale) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Products/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isAcive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger")
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
        });
    </script>
}