@*@model IEnumerable<WebBanHangOnline.Models.EF.Product>*@
@model PagedList.PagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Quản lí sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Product" class="nav-link">Sản phẩm</a>
        </li>
    </ul>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="/admin/products/add" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xoá</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th class="text-center">STT</th>
                        <th>Hình ảnh</th>
                        <th style="width: 150px">Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Số lượng</th>
                        <th>Giá (VND)</th>
                        <th>Gốc (VND)</th>
                        <th>Ngày tạo</th>
                        <th>Home</th>
                        <th>Khuyến mãi</th>
                        <th style="width:100px">Hiển thị</th>
                        <th style="width:150px">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckSale = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr class="text-center" id="trow_@item.Id">
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                <td class="text-center">@i</td>
                                <td>
                                    <img data-id="@item.Id" class="imgproduct" style="width: 50px; height: 50px;" src="@item.Image" />
                                </td>
                                <td>@item.Title</td>
                                <td>@item.ProductCategory.Title</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price </td>
                                <td>@item.OriginalPrice </td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btnHome">@Html.Raw(strCheckHome)</a>
                                </td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>
                                </td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btnSale">@Html.Raw(strCheckSale)</a>
                                </td>
                                <td>
                                    <a href="/admin/products/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Ko có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>



<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"> </iframe>
</div>

@section scripts{
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            // hiển thị form upload ảnh
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/ProductImage/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });



            // xóa 1 bản ghi
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm("Bạn có muốn xóa sản phẩm này không?");
                if (conf === true) {
                    $.ajax({
                        url: '/admin/products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            // hiển thị trạng thái
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        debugger;
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'> </i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'> </i>");
                            }
                        }
                    }
                });
            });

            //hien thi trang thai cua Home
            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        debugger;
                        if (rs.success) {
                            if (rs.isHome) {
                                btn.html("<i class='fa fa-check text-success'> </i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'> </i>");
                            }
                        }
                    }
                });
            });

            //hien thi trang thai cua sale
            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        debugger;
                        if (rs.success) {
                            if (rs.isSale) {
                                btn.html("<i class='fa fa-check text-success'> </i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'> </i>");
                            }
                        }
                    }
                });
            });
        });
    </script>
}




