@model WebBanHangOnline.Models.EF.News
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/contact_styles.css">
<div style="margin-top: 150px" class="container contact_container">
    <div class="row" style="height:50px">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/tin-tuc"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin tức</a></li>
                    <li class="active"><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Chi tiết tin tức</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container news_section_container">
        <br />
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="content-header">
                        <h2>@Model.Title</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <img class="img-circle" style="max-height: 50px; max-width: 50px; " src="@Model.Image" />
                </div>
                <div class="col-md-2">
                    <b>@Model.CreatedBy </b>
                </div>
                <div class="col-md-3">
                    <span>@Model.CreatedDate.ToString("dd/MM/yyyy")</span>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-8" style="font-family:'Times New Roman', Times, serif; color: black">
                    <b>  <i> @Model.Description</i> </b>
                    <hr />
                    @Html.Raw(@Model.Detail)
                </div>
                <div class="col-md-4">
                    <img style="max-width: 340px" src="@Model.Image" />
                </div>
            </div>
            <div class=" row">
                <div class="col-md-12">
                    <marquee style="font-family:'Times New Roman'; font-weight:bold; font-size: 20px;color:black;">Thông tin về xe mới nhất, cập nhật liên tục tới bạn!</marquee>
                </div>
            </div>

        }

    </div>
</div>
