@model PagedList.PagedList<WebBanHangOnline.Models.EF.News>
@using PagedList.Mvc
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .news_section_container {
        margin-top: 200px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h2>TIN TỨC</h2>
            <div style="background-color: forestgreen; height: 2px;"></div>
        </div>
    </div>
    <br />
    @if (Model != null && Model.Any())
    {
        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="/@item.Alias-@item.Id" title="@item.Title">
                            <img style="max-height: 100px; min-width: 200px" class="rounded-circle" src="@item.Image" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h4> <a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h4>
                        <div class="description-box">
                            <i>@item.Description</i>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            i++;
        }
    }
    <div class="row">
        <div class="col-12" style="text-align: center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>
