﻿@model WebBanHangOnline.Models.EF.Product

@{
    ViewBag.Title = "Detail";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">

@if (Model != null)
{
    <div class="container single_product_container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/san-pham"><i class="fa fa-angle-right" aria-hidden="true"></i> Sản phẩm </a></li>
                        <li><a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryId"><i class="fa fa-angle-right" aria-hidden="true"></i> @Model.ProductCategory.Title </a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        @foreach (var item in Model.ProductImage)
                                        {
                                            if (item.IsDefault)
                                            {
                                                <li class="active"><img style="max-height: 130px;" src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                            else
                                            {
                                                <li><img style="max-height: 130px;" src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 image_col order-lg-2 order-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="background-image: url( @Model.ProductImage.FirstOrDefault(a => a.IsDefault).Image ); max-height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model != null)
            {
                <div class="col-lg-5">
                    <div class="product_details">
                        <div class="product_details_title">
                            <h2>@Model.Title</h2>
                            <p>@Model.Description</p>
                        </div>
                        @if (Model.PriceSale > 0)
                        {
                            <div class="original_price"> @WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0) VND</div>
                            <div class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0) VND</div>
                        }
                        else
                        {
                            <div class="original_price"> @WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0) VND</div>
                        }
                        <ul class="star_rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>

                        <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                            <span>Số lượng:</span>
                            <div class="quantity_selector">
                                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <span id="quantity_value">1</span>
                                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@Model.Id">Thêm vào giỏ hàng</a></div>
                            <div class="product_favorite d-flex flex-column align-items-center justify-content-center favorite favorite_left" data-id="@Model.Id"></div>
                        </div>
                        <br />
                        <div>
                            <p class="crop_free"><b>@Model.ViewCount</b> lượt truy cập</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="tabs_section_container">
    <div class="container">
        <div class="row ">
            <div class="col ">
                <div class="tabs_container ">
                    <ul class=" btn btn-light tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"> <span> <i class="fa fa-star-half-full" aria-hidden="true"></i> Chi tiết sản phẩm </span></li>
                        <li class="tab" data-active-tab="tab_2"><span> <i class="fa fa-gear" aria-hidden="true"></i> Thông số kỹ thuật</span></li>
                        <li class="tab" data-active-tab="tab_3"><span> <i class="fa fa-comment" aria-hidden="true"></i> Đánh giá sản phẩm</span></li>
                        <li class="tab" id="btnCapNhat" data-active-tab="tab_4"><span> <i class="fa fa-dollar" aria-hidden="true"></i> Dự toán chi phí</span></li>
                        <li class="tab" data-active-tab="tab_5"><span><i class="fa fa-balance-scale" aria-hidden="true"></i> Cam kết khi mua xe</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="tab_1" class="tab_container active">
                    @Html.Raw(@Model.Detail)
                </div>
                <div id="tab_2" class="tab_container">
                    <div class="row">
                        <table class="table table-dark text-center">
                            <tr>
                                <th>Nhiên liệu:  @Model.Fuel</th>
                                <th>Số chỗ ngồi:  @Model.NumberOfSeats</th>
                                <th>Kiểu dáng:  @Model.Design</th>
                                <th>Xuất xứ:  @Model.Origin</th>
                                <th>@WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0) VND</th>
                            </tr>
                        </table>
                    </div>

                    @if (Model.ProductDetail != null && Model.ProductDetail.Any())
                    {
                        <div class="flex-container">
                            <div class="flex-item">
                                <table class="table table-borderless table-hover text-center ">
                                    <tr>
                                        <th>Phiên bản</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <th>@item.DoiXe</th>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Số</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.LoaiSo</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Kích thức (DxRxC) (mm)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.KichThuoc</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Khoảng sáng gầm xe (mm)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.KhoangSangGamXe</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>BK vòng quay (m)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.BanKinhVongQUay</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Trọng lượng không tải (kg)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.WeightKhongTai</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Trọng lượng toàn tải (kg)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.WeightToanTai</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Chiều rộng cơ sở (trước/sau) (mm)</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.ChieuRongCoSo</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Loại động cơ</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.LoaiDongCo</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Kích thước lốp xe</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.KichThuocLopXe</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Công suất tối đa ( kW (Mã lực)  vòng/phút )</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.CongSuatToiDa</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Hệ thống nhiên liệu</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.HeThongNhienLieu</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Số xy lanh</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.SoXyLanh</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Bố trí xy lanh</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.BoTriXyLanh</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Dung tích xy lanh</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.DungTichXyLanh</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Hệ thống truyền động</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.HeThongTruyenDong</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Hộp số</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.HopSo</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Loại vành</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.LoaiVanh</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Phanh trước</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.PhanhTruoc</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Phanh sau</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.PhanhSau</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Tiêu chuẩn khí thải</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.TieuChuanKhiThai</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Mức tiêu thụ trong ( lít / 100km )</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.MucTieuThuTrong</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Mức tiêu thụ ngoài ( lít / 100km )</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.MucTieuThuNgoai</td>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th>Mức tiêu thụ hỗn hợp ( lít / 100km )</th>
                                        @foreach (var item in Model.ProductDetail)
                                        {
                                            if (item.ProductId == Model.Id)
                                            {
                                                <td>@item.MucTieuThuHonHop</td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }
                </div>

                <div id="tab_3" class="tab_container">
                    <div class="row">

                        <div class="col-md-6">

                            @Html.Action("_Load_Review", "Review", new { productId = Model.Id })

                        </div>

                        <div class="col-md-6">


                            @Html.Action("_Review", "Review", new { productId = Model.Id })

                        </div>

                    </div>
                </div>

                <div id="tab_4" class="tab_container">

                </div>
                <div id="tab_5" class="tab_container">
                    <div class="text-center">
                        <h5>
                            Cam kết chính hãng, quý khách khi mua xe tại cửa hàng sẽ được hưởng chế độ khuyến mãi với giá cả ưu đãi & hỗ trợ khách hàng trong vòng <b>36 tháng</b> kể từ ngày mua.
                            <br />
                            <br />
                            Thông tin chi tiết về sản phẩm quý khách hàng vui lòng liên hệ Hotline: 1900.6778.
                            <br />
                            <br />
                            Tứ Quý Auto hân hạnh được phục vụ quý khách hàng!
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-grid">
    <h3 class="text-success text-center" >
        <b>XE KHÁC</b>
    </h3>
    <br />
    @Html.Action("DetailProduct","Products")
</div>
<div class="modal fade" id="modal-default" >
    <div class="modal-dialog">
        <div class="modal-content" style="width: 550px">

            <div class="modal-body">
                <h4 class="text-center text-success">
                    DỰ TOÁN CHI PHÍ  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </h4>
               
                <table class="table">
                    <tr>
                        <td>Giá đàm phán: <br /> Phí trước bạ (12%): <br /> Phí sử dụng đường bộ (1 năm):<br />Bảo hiểm trách nhiệm dân sự (1 năm): <br />Phí đăng ký biển số: <br /> Phí đăng kiểm: <br /> <h5 style="color:darkred; ">Tổng cộng</h5> </td>
                        <th class="text-right">
                            @WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0) VND <br />@WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale * 12 / 100, 0) VND
                            <br /> 1,560,000 VND <br /> 437,000 VND <br />1,000,000 VND <br />340,000 VND <br /> <h5 style="color: darkred">  @WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale + Model.PriceSale * 12 / 100 + 1560000 + 437000 + 1000000 + 340000, 0) VND </h5>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn btn-danger text-center" style="width: 100%"><a href="/signupfortestdrive/add" class="text-light">Đăng ký lái thử</a></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '#btnCapNhat', function () {
                var id = $(this).closest("tr").data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });
        });
    </script>
}