@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/san-pham"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản phẩm</a></li>
                </ul>
            </div>

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5 class="btn btn-outline-info">Hãng xe</h5>
                    </div>

                    @Html.Action("MenuLeft", "Menu")
                </div>
                <div class="sidebar_section">
                    <div class="sidebar_title text-center ">
                        <a href="/san-pham"> <h4 class="text-success">Giá tiền</h4> </a>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" />
                        <input type="hidden" id="FromAmount" />
                        <input type="hidden" id="ToAmount" />
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>tìm <i class="fa fa-search" aria-hidden="true"></i></span></div>
                </div>
                @Html.Action("Refresh", "Home")
            </div>

            <div class="main_content">

                <div class="products_iso">
                    <div class="row">
                        <div class="col">
                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Sắp xếp theo</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá tiền</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên xe</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Hiển thị</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div >
                                        @using (Html.BeginForm("Index", "Products")) { 
                                        <input id="newsletter_email" name="SearchText" type="text" placeholder="Tên xe" >
                                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit">Tìm</button>
                                    }
                                    </div>
                                </div>
                            </div>
                            <!-- Product Grid -->
                            <div class="product-grid">
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        var strImage = "";
                                        var img = item.ProductImage.FirstOrDefault(a => a.IsDefault);
                                        if (img != null)
                                        {
                                            strImage = img.Image;
                                        }
                                        <div class="product-item men" style="max-height: 350px;">
                                            <div class="product discount" style="max-height: 290px; margin-top: 20px;">
                                                <div class="product_image" style="margin-top:20px">
                                                    <img style="min-height:180px " src="@strImage" alt="@item.Title">
                                                </div>

                                                <div data-id="@item.Id" class="favorite favorite_left"></div>
                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                                }

                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)"> @item.Title </a> </h6>
                                                    @if (item.PriceSale > 0)
                                                    {
                                                        <div class="product_price">
                                                            @WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0)<span>
                                                                @WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)
                                                            </span>
                                                        </div>
                                                        <div style="display:none;" class="in_product_price">
                                                            @item.PriceSale
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0) </div>
                                                        <div style="display: none;" class="in_product_price">
                                                            @item.Price
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</a></div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_end.js"></script>
}